{% extends 'base.html' %}
{% import "pagination_macro.html" as macros %}
{% block title %} 首页 {% endblock %}

{% block top %}
{{ super() }}
{% endblock top %}

{% block top_plate %}
    <!--渲染版块-->
    {% for b in board %}
        <li><a href="#">{{ b.title }}</a></li>
    {% endfor %}
{% endblock top_plate %}

{% block right %}
<a href="{{ url_for('weekly.new') }}">新建文章</a>
{% endblock right %}

{% block center %}
    <div class="topic-list">
        <div class="topic-cell">
            <div class="topic-author-avater">
                <!--头像-->
            </div>
            {% for n in note %}
                <div class="topic-content">
                    <h4><a href="{{ url_for('weekly.detail', id=n.id) }}">{{ n.title }}</a></h4>
                    <p>
                        默认分类 • {{ n.user_id }}  • {{ n.replys }} 个回复 • {{ n.views }} 次浏览 • {{ n.ct }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- 导入 -->
    {{ macros.pagination(pagination) }}
{% endblock center %}
