{% extends 'base.html' %}
{% block title %} 登录 {% endblock %}

{% block top %}
{{ super() }}
{% endblock top %}

{% block center %}
<div class="login">
    <form role="form" class="form-horizontal" action={{ url_for("index.login") }} method="post">
        <div class="form-group">
            <label class="col-md-2 control-label" for="username">用户名</label>
            <div class="col-md-4">
                <input class="form-control" id="username" name="username" size="30" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="password">密码</label>
            <div class="col-md-4">
                <input class="form-control" id="password" name="password" size="30" type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
			    <button type="submit" class="btn btn-default">登录</button>
                <a id="forgot_password" href={{ url_for("index.register") }}>注册</a>
		    </div>
        </div>
    </form>
</div>

{% endblock center %}
