        body {
			background-color: #e1e1e1;
		}
		#topic-bar {
			background-color: #ffffff;
			margin: 1px;
		}
		.navbar-inverse {
			margin-bottom : 5px;
		}
		.right-bar {
			background-color: #ffffff;
			margin-top : 2px;
			margin-left : -1px;
			border-left : 2px solid #e6e6e6;
		}
		.center-bar {
			background-color: #ffffff;
			margin-top : 2px;
			border-right : 2px solid #e6e6e6;
		}
		.detail {
			margin-bottom: 30px;
			padding: 10px 20px 0;
		}
		.detail-header {
			position: relative;
			padding-bottom: 5px;
		}
		.detail-bottom {
			position: relative;
			padding-bottom: 10px;
			border-bottom: 1px solid #e6e6e6;
		}
		.detail-content {
			position: relative;
			padding : 10px 0;
		}
		.reply {
			padding : 10px;
		}
		.reply-num {
			padding : 0 10px 0 10px;
			border-bottom: 1px solid #e6e6e6;
		}
		.reply-content {
			padding : 10px 10px 10px 10px;
			border-bottom: 1px solid #e6e6e6;
		}
        .add-reply {
            padding : 10px 10px 3px 10px;
        }
		.login {
			background-color: #ffffff;
			margin-top: 50px;
			margin-left: 50px;
		}
        .register {
			background-color: #ffffff;
			margin-top: 50px;
			margin-left: 50px;
		}
        .topic-content {
            border-bottom: 1px solid #e6e6e6;
        }
		.editor_markdown {
			padding: 50px 20px;
		}
        #markdown{
            margin-left: 15px;
        }