        body {
			background-color: #e1e1e1;
		}
		#topic-bar {
			background-color: #ffffff;
			margin: 1px;
		}
		.navbar-inverse {
			margin-bottom : 5px;
		}
		.right-bar-top {
			background-color: #ffffff;
			padding : 15px;
			margin-bottom : 20px;
			border : 1px solid #e6e6e6;
			border-radius : 4px;
		}
	    .right-bar-center {
			background-color: #ffffff;
			padding : 15px;
			margin-bottom : 20px;
			border : 1px solid #e6e6e6;
			border-radius : 4px;
		}
		.center-bar {
			background-color: #ffffff;
			margin-top : 2px;
			border-right : 2px solid #e6e6e6;
		}
		.detail {
			margin-bottom: 30px;
			padding: 10px 20px 0;
		}
		.detail-header {
			position: relative;
			padding-bottom: 5px;
		}
		.detail-bottom {
			position: relative;
			padding-bottom: 10px;
			border-bottom: 1px solid #e6e6e6;
		}
		.detail-content {
			position: relative;
			padding : 10px 0;
		}
		.reply {
			padding : 10px;
		}
		.reply-num {
			padding : 0 10px 0 10px;
			border-bottom: 1px solid #e6e6e6;
		}
		.reply-content {
			padding : 10px 10px 10px 10px;
			border-bottom: 1px solid #e6e6e6;
		}
        .add-reply {
            padding : 10px 10px 3px 10px;
        }
		.editor_markdown {
		    margin: 0px;
			padding-top: 100px;
		}
        #markdown{
            margin-left: 15px;
        }
        .user-avater {
            position: absolute;
            left: 0;
            top: 18px;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border : 0;
            border-top: 1px solid #eee;
        }
        .person-header {
            padding-top : 10px;
        }
        .person-avater img {
            border : 1px solid #e6e6e6;
        }
        .person-avater span {
            margin-left : 20px;
        }


