{% extends 'base.html' %}
{% block title %} {{ note.title }} {% endblock %}


{% block center %}
<div class="entry-box">
    <div class="detail">
        <div class="detail-header">
            <h3>{{ note.title }}</h3>
        </div>
        <div class="detail-bottom">
            <p>
                发表时间 {{ note.ct }} •  作者 {{ author }} • 浏览 {{ note.views }}次 / 回复 {{ note.replys }}
                {% if session['user_name'] == author %}
                <div class="text-right">
                    <a class="btn btn-info" href={{ url_for('weekly.edit', id=note.id) }} >编辑</a>
                    <a class="btn btn-danger" href={{ url_for('weekly.delete', id=note.id) }} >删除</a>
                </div>
                {% endif %}
            </p>
        </div>
        <div class="detail-content">
            {{ note.content | safe }}
        </div>
    </div>
    <div class="reply">
        <div class="add-reply">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <textarea class="form-control" id="comment-content" rows="3" name="content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
			            <!--<button type="submit" id="submit-comment" class="btn btn-default">提交评论</button>
			             action={{ url_for("weekly.add_comment", id=note.id) }} method="post" -->
                        <input type="button" value="提交评论" id="submit-comment"></input>
                    </div>
		        </div>
            </form>
        </div>
        <div class="reply-num" id="tmp">
            <h4> 评论 {{ note.replys }} </h4>
        </div>
        {% for c in comments %}
        <div class="reply-content">
            <div class="topic-author-avater">
                <!--头像-->
            </div>
            <div class="note-content"">
                <span> {{ c.content }} </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock center %}
