{% extends 'base.html' %}
{% block title %} {{ note.title }} {% endblock %}

{% block nav %}
{{ super() }}
{% endblock nav %}

{% block content %}
{{ super() }}
<div class="panel">
    <div class="header topic_header">
        <span class="topic_full_title">
            {{ note.title }}
        </span>
        <div class="changes">
            <span>
                发表于 {{ note.ct }}
            </span>
            <span>
                作者 {{ author }}
            </span>
            <span>
                浏览次数 {{ note.views }}
            </span>
            <span> 来自 版块</span>
        </div>
        <div id="manage_topic">
        </div>
    </div>
    <div class="inner topic">
        <div class="topic_content">
            <div class="markdown-text">
                {{ note.content }}
            </div>
        </div>
    </div>
    <div class="header">
        <span class="col_fade">{{ note.replys }} 回复</span>
    </div>
    <!-- 评论部分 -->
    {% for c in comments %}
    <div class="cell reply_area reply_item">
        <div class="author_content">
            <a href="/user/MiYogurt" class="user_avatar">
            <img src="https://avatars3.githubusercontent.com/u/10082395?v=4&amp;s=120" title="MiYogurt"></a>
            <div class="user_info">
                <a class="dark reply_author" href="#">{{ author }}</a>
                <a class="reply_time" href="#">1楼•11 小时前</a>
            </div>
              <i class="fa fa-reply reply2_btn" title="回复"></i>
        </div>
        <div class="reply_content from-MiYogurt">
            <div class="markdown-text-comment">
                {{ c.content }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

{% block script %}
    // 文档加载完成后，渲染markdown
    $(document).ready(function(){
        var md = window.markdownit();
        var content = $('.markdown-text').text().trim();
        console.log(content);
        markdown_text = md.render(content);
        console.log(markdown_text);
        $('.markdown-text').html(markdown_text);
    })
{% endblock %}
