{% extends 'base.html' %}
{% block title %} 编辑文章 {% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/plugin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/start_tinymce.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#note-title").val("{{ note.title | safe }}")
            // 此处bug不知如何解决
            $("#note-content").text("{{ note.content | safe }}")
        });
    </script>
{% endblock %}

{% block center %}
<div class="entry-box">
    <form class="form-horizontal" role="form" id="new-note" action="{{ url_for('weekly.edit', id=note.id) }}" method="post">
        <div class="form-group">
            <label for="title" class="col-lg-1 control-label">标题</label>
            <div class="col-lg-11">
                <input type="text" id="note-title" class="form-control" name='title' placeholder="输入标题">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label for="board" class="col-lg-1 control-label" >版块</label>
            <div class="col-lg-11">
                <select class="form-control" id="board_id" name="board_id" required>
                    <option value="">请选择</option>
                    {% for b in board %}
                        <option value="{{ b.id }}">{{ b.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="board" class="col-lg-1 control-label" >正文</label>
            <div class="col-lg-11">
                <textarea  id="note-content" name="content"></textarea>
            </div>
        </div>
        <div class="form-group" >
             <div class="col-lg-offset-2 col-lg-2">
                 <button type="submit" class="btn btn-success">发表</button>
             </div>
        </div>
    </form>
</div>
{% endblock center %}
