{% extends 'base.html' %}
{% block title %} 首页 {% endblock %}
{% block body %}
{{ super() }}
<!--显示所有的周报-->
<div id="main">
    <div id="sidebar">
        <a href="{{ url_for('weekly.new') }}">新建文章</a>
    </div>
    <div id="content">
        <div class="panel">
            <div class="header">
                {% for b in board %}
                    <a href="#" class="topic-tab">{{ b.title }}</a>
                {% endfor %}
            </div>
            <div class="inner no-padding">
                <div id="topic_list">
                    {% for n in note %}
                        <div class="cell">
                            <a class="user_avatar pull-left" href="#">
                                <img src="/static/img/avater.img" title="StudentWan">
                            </a>
                            <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">{{ n.replys }}</span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title="点击数">{{ n.views }}</span>
                            </span>
                            <span class="last_time pull-right">{{ n.ct }}</span>

                            <div class="topic_title_wrapper">
                                <span class="topiclist-tab">版块</span>
                                <a class="topic_title" href="{{ url_for('weekly.detail', id=n.id) }}">{{ n.title }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="col-lg-2 col-md-offset-8">-->
    <!--<a href="{{ url_for("weekly.new") }}" class="btn btn-success">发表文章</a>-->
<!--</div>-->
<!--<table class="table">-->
    <!--<caption>文章列表</caption>-->
    <!--<tbody>-->
    <!--{% for note in weekly %}-->
        <!--<tr>-->
            <!--<td>-->
                 <!--<span>1</span>-->
                 <!--<span> / </span>-->
                 <!--<span>2</span>-->
            <!--</td>-->
            <!--<td>-->
                <!--<a href="{{ url_for('weekly.detail', id=note['Weekly.id']) }}">{{ note['Weekly.title'] }}</a>-->
            <!--</td>-->
            <!--<td>-->
                <!--{{ note['Weekly.ct'] }}-->
            <!--</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
<!--</table>-->
{% endblock %}
