<!-- 分页宏， 直接在模板中引用即可 -->
{% macro pagination(pagination, endpoint, fragment='') %}

<ul class="pagination">
    <li{% if not pagination.have_prev %} class="disabled" {% endif %}>
        <a href="{{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}{{ fragment }}">&laquo;</a>
    </li>
    {% for p in range(pagination.total_page)  %}
        <li><a href="{{ url_for(endpoint, page=p + 1, **kwargs) }}{{ fragment }}">{{ p + 1 }}</a></li>
    {% endfor %}
    <li{% if not pagination.have_next %} class="disabled" {% endif %}>
        <a href="{{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}{{ fragment }}">&raquo;</a>
    </li>
</ul>
{% endmacro %}